@import "ui-variables";

atom-workspace {
    atom-text-editor.editor .wrap-guide {
        width: 0;
    }

    .tool-bar {
        .ion-navicon-round {
            position: absolute;
            bottom: 48px;
        }

        .ion-gear-a {
            position: absolute;
            bottom: 0;
        }
    }

    atom-pane-container atom-pane .item-views {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 200px;
        right: 0;
        border-top: 1px solid @base-border-color;
    }

    .tab-bar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: auto;
        width: 200px;
        display: block;
        border: 1px solid @base-border-color;
        border-right: 0;
		border-bottom: 0;

        .tab {
            float: right;
            width: 100%;
            top: auto;
            flex: initial;
            min-width: 100%;
            border-radius: 0;
            cursor: pointer;

            .title {
                text-align: left;
            }

            .icon:before {
                margin: 0 10px 0 0;
            }

            &.active {
                background: #282c34;
                border-radius: 0;

                &:after {
                    display: none;
                }

                &:before {
                    border-radius: 0;
                    top: 0;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
}
